{% extends "layouts/base.html" %} {% block title %} Search {% endblock %}
{% load static %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/vendors/select2/select2.min.css' %}" /> 
<link rel="stylesheet" href="{% static 'assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">

<style>
  .form-control {
    border-radius: 0.1875rem;
  }
  .form-control:disabled {
    color: rgb(77, 75, 75);
  }
  .form-control option {
    color: white;
  }
  .form-control option:disabled {
    color: darkgray;
  }
  .form-control:focus {
    color: white;
  }
  .Phone-header div {
    font-size: 0.8rem;
  }
  .Phone-header #records_num {
    font-size: 1rem;
  }
</style>
{% endblock stylesheets %}
{% block modals %}
{% endblock modals %} {% block content %}

<div class="content-wrapper">
  <!--Header-->
  <div class="page-header">
    <h1 class="page-title">New Batch</h1>
  </div>
  <div class="row">
    <div class="col-lg-12 grid-margin">
      <div class="Phone">
        <div class="Phone-body">
          <div class="template-demo">
            <div class="row">
              <div class="col-lg-12">
                <div class="row mt-3">
                  <div class="col-md-2">
                    <label class="col-form-label">Add Supplier:</label>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label for="supplier_name" class="col-sm-6 col-form-label text-right">Supplier Name:</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control form-control-md" id="supplier_name" placeholder="name">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label for="supplier_password" class="col-sm-6 col-form-label text-right">Supplier Password:</label>
                      <div class="col-sm-6">
                        <input type="password" class="form-control form-control-md" id="supplier_password" placeholder="Password">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <button type="button" class="btn btn-success float-right" style="height: calc(2.25rem + 2px);" onclick="add_new_supplier()">Add Supplier</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-md-12 overflow-auto">
                <table class="table table-bordered table-striped">
                  <thead class="text-center">
                    <tr>
                      <th>UserName</th>
                      <th>Total Batches</th>
                      <th>Total Phones</th>
                      <th>Total Phones<br>Sold</th>
                      <th>Total Phones<br>Unsold</th>
                      <th>Total<br>$ Paid</th>
                      <th>Total<br>$ Unpaid</th>
                      <th>Supplier USDT<br>Address</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody class="text-left">
                    {% for supplier in supplier_list %}
                    <tr>
                      <td>supplier.Name</td>
                      <td>3</td>
                      <td>10</td>
                      <td>15</td>
                      <td>125</td>
                      <td>123$</td>
                      <td>234$</td>
                      <td>TR7NHqjeKQxGTCi 8q8ZY4pabcxy</td>
                      <td>
                        <button class="btn btn-danger btn-sm">PAID Button</button>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  jQuery(document).ready(function () {
  })
</script>

{% endblock content %} {% block plugin_javascripts %}

<script src="{% static 'assets/vendors/select2/select2.min.js' %}"></script>
<script src="{% static 'assets/vendors/inputmask/jquery.inputmask.bundle.js' %}"></script>

{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="{% static 'assets/js/inputmask.js' %}"></script>

{% endblock javascripts %}
