{% extends "layouts/base.html" %} {% block title %} Search {% endblock %}
{% load static %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">

<style>
  .form-control {
    border-radius: 0.1875rem;
  }
  .form-control option {
    color: white;
  }
  .form-control:focus {
    color: white;
  }
  .form-control, .close {
    color: white;
  }
  select.form-control {
    color: white;
  }
  .Phone-header div {
    font-size: 0.8rem;
  }
  .Phone-header #records_num {
    font-size: 1rem;
  }
  .col-sm-6 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
  .datepicker {
    padding: 0px
  }
  .form-label, .col-form-label {
    color: #6c7293;
  }
  .table th {
    padding-left: 0.1rem !important;
    padding-right: 0.1rem !important;
  }
</style>
{% endblock stylesheets %}
{% block modals %}
<!-- Modal starts -->
<div class="modal fade" id="show_records_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="Phone">
        <div class="Phone-header">
          <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5>Total Records: <b id="records_num"></b></h5>
        </div>
        <div class="Phone-body">
          <div class="row">
            <div class="col-md-12 overflow-auto">
              <table class="table table-bordered table-striped">
                <thead class="text-center">
                  <tr>
                    <th>Phone Number</th>
                    <th>
                      Exp Date<br>
                      Puk Code<br>
                      Price
                    </th>
                    <th>
                      Areaf1<br>
                      Areaf2<br>
                      Areaf3<br>
                      Areaf4
                    </th>
                    <th>Areaf5</th>
                    <th>
                      Address<br>
                      City<br>
                      State<br>
                      Zipcode
                    </th>
                    <th>
                        Fist Name<br>
                        Last Name<br>
                        (Gender)
                    </th>
                    <th>
                      Extra1<br>
                      Extra2<br>
                      Extra3<br>
                      Extra4<br>
                      Extra5
                    </th>
                    <th>
                      Batch ID<br>
                      Batch Name<br>
                      Publish Date
                    </th>
                    <th>
                      SOlD/UNSOLD/REFUND<br>
                      (Sold Date)<br>
                      PAID/UNPAID
                    </th>
                  </tr>
                </thead>
                <tbody class="text-left"></tbody>
              </table>
            </div>
            <!--------------------------- Pagination-HTML --------------------------------->
            <div
              class="col-md-12 col-sm-6 grid-margin stretch-card"
              id="pagination"
            >
              <div class="Phone">
                <div class="Phone-body">
                  <nav>
                    <ul
                      class="pagination justify-content-end flat"
                      id="page_button"
                    ></ul>
                  </nav>
                </div>
              </div>
            </div>
            <!-------------------------------------------------------------------------->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Ends -->
{% endblock modals %} {% block content %}

<div class="content-wrapper">
  <!--Header-->
  <div class="page-header">
    <h1 class="page-title">New Batch</h1>
  </div>
  <div class="row">
    <div class="col-lg-12 grid-margin">
      <div class="Phone">
        <div class="Phone-body">
          <div class="template-demo">
            <div class="row">
              <div class="col-lg-12">
                <div class="row mt-1">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group row">
                          <label class="col-form-label col-sm-6 text-right" for="supplier">Select Supplier:</label>
                          <div class="col-sm-6">
                            <select class="form-control" id="supplier">
                              {% for supplier in supplier_list %}
                              <option value={{ supplier.id }}>{{ supplier.Username }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label text-right">Form Date:</label>
                          <div id="from_date" class="input-group date datepicker col-sm-7">
                            <input type="text" class="form-control" value="{{ start_date }}">
                            <span class="input-group-addon input-group-append border-left">
                              <span class="mdi mdi-calendar input-group-text"></span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label text-right">To Date:</label>
                          <div id="to_date" class="input-group date datepicker col-sm-7">
                            <input type="text" class="form-control" value="{{ end_date }}">
                            <span class="input-group-addon input-group-append border-left">
                              <span class="mdi mdi-calendar input-group-text"></span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-7">
                        <div class="form-group row">
                          <div class="col-sm-6">
                            <div class="form-check mt-sm-2 float-right">
                              <label class="form-check-label">
                              <input type="radio" class="form-check-input" name="PaidUnpaid" id="PaidUnpaidRadios1" value="PAID" checked> PAID Only <i class="input-helper"></i></label>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-check mt-sm-2 float-right">
                              <label class="form-check-label">
                              <input type="radio" class="form-check-input" name="PaidUnpaid" id="PaidUnpaidRadios2" value="UNPAID"> UNPAID Only <i class="input-helper"></i></label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <button type="button" class="btn btn-success" style="height: calc(2.25rem + 2px);" onclick="show_result()">Show Results</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-1 col-md-12 stretch-card">
              <div class="circle-loader"></div>
            </div>
            <div class="row mt-1" id="search_result">
              <div class="col-md-12 overflow-auto">
                <table class="table table-bordered table-striped">
                  <thead class="text-center">
                    <tr>
                      <th><input type="checkbox" id="all_check"></th>
                      <th>Batch<br>ID</th>
                      <th>Batch<br>Name</th>
                      <th>Assigned<br>Supplier<br>Username</th>
                      <th>Supplier<br>Batch<br>Share %</th>
                      <th>Total Records<br>Sold</th>
                      <th>Total Records<br>Sold $</th>
                      <th>Total Records<br>Sold Supplier<br>$ Profit</th>
                      <th>Total Records<br>Sold Shop<br>$ Profit</th>
                      <th>Total Records<br>Refunded</th>
                      <th>Total Records<br>Unsold</th>
                    </tr>
                  </thead>
                  <tbody class="text-right">
                  </tbody>
                </table>
              </div>
              <div class="col-md-12">
                <label class="mt-3 ml-2 row form-label">
                  <div class="col-lg-12 row">
                    <div class="col-sm-2 row">
                      <b>Total Batches:&nbsp;&nbsp;</b><div id="total_batches">0</div>
                    </div>
                    <div class="col-sm-3 row">
                      <b>Total Records Sold:&nbsp;&nbsp;</b><div id="total_sold">0</div>
                    </div>
                    <div class="col-sm-4 row">
                      <b>Total Records Sold Supplier $ Profit:&nbsp;&nbsp;</b><div>$</div><div id="total_supplier_profit">0</div>
                    </div>
                    <div class="col-sm-3 row">
                      <b>Total Refunded:&nbsp;&nbsp;</b><div id="total_refund">0</div>
                    </div>
                  </div>
                </label>
                <label class="mt-2 ml-2 row form-label">
                  <div class="col-lg-12 row">
                    <div class="col-sm-2 row">
                      <b>Total Supplier:&nbsp;&nbsp;</b><div id="total_supplier">0</div>
                    </div>
                    <div class="col-sm-3 row">
                      <b>Total Records Sold $:&nbsp;&nbsp;</b><div>$</div><div id="total_sold_price">0</div>
                    </div>
                    <div class="col-sm-4 row">
                      <b>Total Records Sold Shop $ Profit:&nbsp;&nbsp;</b><div>$</div><div id="total_shop_profit">0</div>
                    </div>
                    <div class="col-sm-3 row">
                      <b>Total Records Unsold:&nbsp;&nbsp;</b><div id="total_unsold">0</div>
                    </div>
                  </div>
                </label>
                <div class="row float-right mt-3">
                  <button type="button" class="btn btn-success mr-3" style="height: calc(2.25rem + 2px);" onclick="set_paid()">Set selected Batches SOLD Records as PAID for the selected date range</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>  
  jQuery(document).ready(function () {
    $('.datepicker').datepicker({
      enableOnReadonly: true,
      todayHighlight: true,
      autoclose: true,
    });
    $('#search_result').hide()
    $('.circle-loader').hide();
  })

  function show_result(){   
    $('.circle-loader').show()
    $('#search_result').hide()
    $("#search_result .table tbody").empty()
    postData = {
      supplier_id: $('#supplier').val(),
      from_date: $('#from_date').children('input').val(),
      to_date: $('#to_date').children('input').val(),
      PaidUnpaid: $('input[name="PaidUnpaid"]:checked').val(),
    }
    $.ajax({
      url: "",
      type: "POST",
      dataType: "json",
      headers: {
        "X-CSRFToken": $('meta[name="csrf-token"]').attr('content'),
      },
      data: postData,
      success: function (result) {
        var state = result["state"];
        if (state == "OK") {
          $('.circle-loader').hide()
          $('#search_result').show()
          var data = result["data"];
          tableData = data['tableData']
          var len = tableData.length;
          if (len) {
            tableData.forEach(function (each) {
              var appendHTML = "";
              appendHTML += '<tr batch_id="' + each['batch_id'] + '">';
              appendHTML += '<td class="text-center"><input type="checkbox" class="row-checkbox"></td>'
              appendHTML += '<td class="text-center">' + each['batch_id'] + '</td>'
              appendHTML += '<td class="text-left">' + each['batch_name'] + '</td>'
              appendHTML += '<td class="text-left">' + each['supplier_name'] + '</td>'
              appendHTML += '<td>' + each['supplier_batch_share'] + ' % </td>'
              if(each['total_sold'])
                appendHTML += '<td>' + each['total_sold'] + '<br><a href="javascript: void(0);" class="show-record total-sold">Show Records</a></td>'
              else
                appendHTML += '<td>' + each['total_sold'] + '</td>'
              appendHTML += '<td>' + each['total_sold_price'] + ' $ </td>'
              appendHTML += '<td>' + each['total_supplier_profit'] + ' $ </td>'
              appendHTML += '<td>' + each['total_shop_profit'] + ' $ </td>'
              if(each['total_refund'])
                appendHTML += '<td>' + each['total_refund'] + '<br><a href="javascript: void(0);" class="show-record total-refund">Show Records</a></td>'
              else
                appendHTML += '<td>' + each['total_refund'] + '</td>'
              if(each['total_unsold'])
                appendHTML += '<td>' + each['total_unsold'] + '<br><a href="javascript: void(0);" class="show-record total-unsold">Show Records</a></td>'
              else
                appendHTML += '<td>' + each['total_unsold'] + '</td>'
              appendHTML += '</tr>';
              $("#search_result .table tbody").append(appendHTML);
            });
          } else
            $("#search_result .table tbody").append(
              '<tr><td colspan="9" class="text-center">No Data</td></tr>'
            );
          $('#total_batches').text(data['total_batches'])
          $('#total_supplier').text(data['total_supplier'])
          $('#total_sold').text(data['total_sold'])
          $('#total_sold_price').text(data['total_sold_price'])
          $('#total_supplier_profit').text(data['total_supplier_profit'])
          $('#total_shop_profit').text(data['total_shop_profit'])
          $('#total_refund').text(data['total_refund'])
          $('#total_unsold').text(data['total_unsold'])
          all_check_define()
          show_records_define()
        } else if (state == "FAIL")
        {
          $('.circle-loader').hide()
          $('#search_result').show()
          showDangerToast(result["error"], "Failed");
        }
        else
        {
          $('.circle-loader').hide()
          $('#search_result').show()
          showDangerToast("Cause an unknown error.", "Failed");
        }
      },
      error: function (xhr, status, error) {
        $('.circle-loader').hide()
        $('#search_result').show()
        showDangerToast(xhr.status + " " + xhr.statusText, "Failed");
      },
    });
  }

  function all_check_define()
  {
    $('#all_check').prop('checked', false)
    $('#all_check').change(function() {
      $('.row-checkbox').prop('checked', $(this).prop('checked'))
    })
  }

  function set_paid()
  {
    if($('input[name="PaidUnpaid"]:checked').val() == 'PAID')
      return

    var batch_list = []
    $('.row-checkbox:checked').each(function() {
      batch_list.push($(this).parents('tr').attr('batch_id'))
    })
    postData = {
      from_date: $('#from_date').children('input').val(),
      to_date: $('#to_date').children('input').val(),
      PaidUnpaid: $('input[name="PaidUnpaid"]:checked').val(),
      batch_list: batch_list
    }
    $.ajax({
      url: "/set_paid",
      type: "POST",
      dataType: "json",
      headers: {
        "X-CSRFToken": $('meta[name="csrf-token"]').attr('content'),
      },
      data: postData,
      success: function (result) {
        var state = result["state"];
        if (state == "OK") {
          showSuccessToast("Selected Batches SOLD Records seted as PAID ", "Success");
          show_result()
        } else if (state == "FAIL")
          showDangerToast(result["error"], "Failed");
        else
          showDangerToast("Cause an unknown error.", "Failed");
      },
      error: function (xhr, status, error) {
        showDangerToast(xhr.status + " " + xhr.statusText, "Failed");
      },
    });
  }

///////////////////////////////////////////////Show Records//////////////////////////////////////////////
  var page_num = 0;
  var page_len = 0;
  var type = '';    // total-sold/total-refund/total-unsold
  var batch_id = 0;

  function show_records_define()
  {
    $('.show-record').click(function() {
      element = $(this)
      if(element.hasClass('total-sold'))
        type = 'total-sold'
      else if(element.hasClass('total-refund'))
        type = 'total-refund'
      else if(element.hasClass('total-unsold'))
        type = 'total-unsold'
      batch_id = element.parents('tr').attr('batch_id')

      show_records()
    })
  }

  function show_records(page = 0) {
    $("#show_records_modal").modal('show')
    $("#show_records_modal .table tbody").empty()
    postData = {
      from_date: $('#from_date').children('input').val(),
      to_date: $('#to_date').children('input').val(),
      PaidUnpaid: $('input[name="PaidUnpaid"]:checked').val(),
      type: type,
      batch_id: batch_id,
      page: page
    }
    $.ajax({
      url: "/show_records",
      type: "POST",
      dataType: "json",
      headers: {
        "X-CSRFToken": "{{ csrf_token }}",
      },
      data: postData,
      success: function (result) {
        var state = result["state"];
        if (state == "OK") {
          var product_list = result["data"];
          $("#records_num").text(result["length"] + " records found");
          console.log(product_list);
          page_num = page;
          var len = product_list.length;
          if (len) {
            product_list.forEach(function (each) {
              var appendHTML = "";
              appendHTML += "<tr>";
              appendHTML += '<td class="text-center">' + each['Phone'] + '</td>'
              appendHTML += '<td>' + each['Exp_day'] + '/' + each['Exp_month'] + '/' + each['Exp_year'] + '<br>' + each['Puk_code'] + '<br>' + each['Price'] + '$</td>'
              appendHTML += '<td>' + each['Areaf1'] + '<br>' + each['Areaf2'] + '<br>' + each['Areaf3'] + '<br>' + each['Areaf4'] + '</td>'
              appendHTML += '<td class="text-center"><img src="static/assets/vendors/flag-icon-css/flags/4x3/' + each['Areaf6'] + '.svg" alt="' + each['Areaf6'] + '.svg"><br>' + each['Areaf5'] + '</td>'
              appendHTML += '<td>' + each['Address'] + '<br>' + each['City'] + '<br>' + each['State'] + '<br>' + each['Zipcode'] + '</td>'
              appendHTML += '<td>' + each['First_name'] + '<br>' + each['Last_name'] + '<br>(' + each['Gender'] + ')</td>'
              appendHTML += '<td>' + each['Extra1'] + '<br>' + each['Extra2'] + '<br>' + each['Extra3'] + '<br>' + each['Extra4'] + '<br>' + each['Extra5'] + '</td>'
              var Batch_Publish_date = new Date(each['Batch_Publish_date']);
              appendHTML += '<td>' + each['Batch_id'] + '<br>' + each['Batch_Name'] + '<br>' + (Batch_Publish_date.getDate()).toString().padStart(2, '0') + '/' + (Batch_Publish_date.getMonth() + 1).toString().padStart(2, '0') + '/' + Batch_Publish_date.getFullYear() + '</td>'
              if(each["Sold_unsold"] == 'SOLD')
              {
                var Sold_date = new Date(each['Sold_date'])
                appendHTML += '<td>' + each["Sold_unsold"] + '<br>' + (Sold_date.getDate()).toString().padStart(2, '0') + '/' + (Sold_date.getMonth() + 1).toString().padStart(2, '0') + '/' + Sold_date.getFullYear() + '<br>' + each["Supplier_payment_status"] + "</td>";
              }
              else
                appendHTML += '<td>' + each["Sold_unsold"] + '<br>' + each["Supplier_payment_status"] + "</td>";
              appendHTML += "</tr>";
              $("#show_records_modal .table tbody").append(appendHTML);
            });
            pagination_init(result["length"]);
          } else
            $("#show_records_modal .table tbody").append(
              '<tr><td colspan="9" class="text-center">No Data</td></tr>'
            );
        } else if (state == "FAIL") showDangerToast(result["error"], "Failed");
        else showDangerToast("Cause an unknown error.", "Failed");
      },
      error: function (xhr, status, error) {
        $(".circle-loader").hide();
        showDangerToast(xhr.status + " " + xhr.statusText, "Failed");
      },
    });
  }
  ////////////////////////////////////////////// Pagination-Javascript //////////////////////////////////////////////////
  function pagination_init(len) {
    $("#pagination").show();
    $("#page_button").empty();
    $("#page_button").append(
      '<li class="page-item"><a class="page-link" id="page-first" href="javascript:void(0);"><<</a></li>'
    );
    $("#page_button").append(
      '<li class="page-item"><a class="page-link" id="page-prev" href="javascript:void(0);"><</a></li>'
    );
    page_len = Math.floor((len - 1) / 10) + 1;
    var start = 0;
    if (page_num - start >= 2) start = page_num - 2;
    if (start + 5 >= page_len) start = Math.max(page_len - 5, 0);

    var end = Math.min(start + 5, page_len);
    for (i = start; i < end; i++) {
      if (i == page_num)
        $("#page_button").append(
          '<li class="page-item active"><a class="page-link page-num" href="javascript:void(0);" page=' +
            i +
            ">" +
            (i + 1) +
            "</a></li>"
        );
      else
        $("#page_button").append(
          '<li class="page-item"><a class="page-link page-num" href="javascript:void(0);" page=' +
            i +
            ">" +
            (i + 1) +
            "</a></li>"
        );
    }
    $("#page_button").append(
      '<li class="page-item"><a class="page-link" id="page-next" href="javascript:void(0);">></a></li>'
    );
    $("#page_button").append(
      '<li class="page-item"><a class="page-link" id="page-end" href="javascript:void(0);">>></a></li>'
    );
    $(".page-num").click(function () {
      if (page_num == $(this).attr("page")) return;
      page_num = $(this).attr("page");
      show_records(page_num);
    });
    $("#page-first").click(function () {
      if (page_num == 0) return;
      page_num = 0;
      show_records(page_num);
    });
    $("#page-end").click(function () {
      if (page_num == page_len - 1) return;
      page_num = page_len - 1;
      show_records(page_num);
    });
    $("#page-prev").click(function () {
      if (page_num == 0) return;
      page_num -= 1;
      show_records(page_num);
    });
    $("#page-next").click(function () {
      if (page_num == page_len - 1) return;
      page_num += 1;
      show_records(page_num);
    });
  }
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////
</script>

{% endblock content %} {% block plugin_javascripts %}

<script src="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>

{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
