{% extends "layouts/base.html" %} {% block title %} Search {% endblock %}
{% load static %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/vendors/select2/select2.min.css' %}" /> 
<link rel="stylesheet" href="{% static 'assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">

<style>
  .form-control {
    border-radius: 0.1875rem;
    color: #6c7293;
  }
  .form-control option {
    color: white;
    margin-top: 1.5rem;
    font-size: medium;
  }
  .form-control:focus {
    color: white;
  }
  select.form-control {
    color: #6c7293;
    font-size: medium;
  }
  .Phone-header div {
    font-size: 0.8rem;
  }
  .Phone-header #records_num {
    font-size: 1rem;
  }
</style>
{% endblock stylesheets %}
{% block modals %}
{% endblock modals %} {% block content %}

<div class="content-wrapper">
  <!--Header-->
  <div class="page-header">
    <h1 class="page-title">New Batch</h1>
  </div>
  <div class="row">
    <div class="col-lg-12 grid-margin">
      <div class="Phone">
        <div class="Phone-body">
          <div class="template-demo">
            <div class="row">
              <div class="col-lg-12">
                <div class="row mt-3">
                  <div class="col-md-12">
                    <label class="col-sm-12" for="insert_batch">Insert New Batch:</label>
                    <div class="col-sm-12">
                      <textarea class="col-sm-12 form-control" rows="8" id="insert_batch" name="insert_batch" multiple placeholder="Insert new batches here..."></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">    
              <div class="col-md-12 mt-5" style="float: right">
                <button type="button" class="btn btn-success float-right" onclick="preview()">Preview and Set Fields</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- [ Main Content ] start -->
  <div class="row" id="batch_preview">
    <!--[D F info] start-->
    <div class="col-sm-12 grid-margin">
      <div class="Phone">
        <div class="Phone-body">
          <div class="row">
            <div class="col-md-12 overflow-auto">
              <table class="table table-bordered table-striped">
                <thead class="text-center">
                </thead>
                <tbody class="text-left">
                </tbody>
              </table>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-7">
              <div class="form-group row">
                <label for="batch_name" class="col-sm-7 col-form-label">Supplier batch name:</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="batch_name" placeholder="Insert batch name...">
                </div>
              </div>
              <div class="form-group row">
                <label for="supplier" class="col-sm-7 col-form-label">Select Supplier username to assgin the batch:</label>
                <div class="col-sm-5">
                  <select class="form-control form-control-md" id="supplier">
                    {% for supplier in supplier_list %}
                    <option value={{ supplier.id }}>{{ supplier.Username }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="percent" class="col-sm-7 col-form-label">Supplier batch sales share(%):</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="percent" data-inputmask="'alias': 'percentage'" value="0">
                </div>
              </div>
              <div class="form-group row">
                <label for="price" class="col-sm-7 col-form-label">Price for each phone number(USD):</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" data-inputmask="'alias': 'currency'" id="price" value="0">
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="row m-3" style="position: absolute; bottom: 0; right: 0">
                <button type="button" class="btn btn-lg btn-info float-right" onclick="post_batch()">Insert/Assign Data</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var batch_list = []
  var field_num = 0
  var field_list_basic = {
      'Phone': 'Phone Number',
      'Exp_day': 'Exp Day',
      'Exp_month': 'Exp Month',
      'Exp_year': 'Exp Year',
      'Puk_code': 'Puk Code',
      'First_name': 'First Name',
      'Last_name': 'Last Name',
      'Gender': 'Gender',
      'Address': 'Address',
      'City': 'City',
      'State': 'State',
      'Zipcode': 'Zipcode',
      'Extra1': 'Extra1',
      'Extra2': 'Extra2',
      'Extra3': 'Extra3',
      'Extra4': 'Extra4',
      'Extra5': 'Extra5',
  }
  var valid = true
  jQuery(document).ready(function () {
    // $('#batch_preview').hide()
  })

  function format_text(text){
    var returnValue = []
    valid = true
    field_num = 0
    text.split('\n').forEach((row, index) => {
      if(valid == false)
        return
      if(row == '')
      {
        returnValue.pop()
        return
      }
      eachRow = []
      row.split(';').forEach(field => {
        eachRow.push(field)
      })
      if(eachRow[eachRow.length - 1] == '')
        eachRow.pop()
      if(eachRow.length > field_list_basic.length)
      {
        showWarningToast('Row ' + (index + 1) + ': Number of parameter must be ' + field_list_basic.length, "Warning")
        valid = false
        return
      }
      field_num = Math.max(field_num, eachRow.length)
      returnValue.push(eachRow)
    })
    if(returnValue[returnValue.length - 1] == '')
      returnValue.pop()

    return returnValue
  }

  function preview(){
    text = $('#insert_batch').val()
    if(text == '')
    {
      showInfoToast('Insert the new batch data', "Warning")
      return
    }
    batch_list = format_text(text)
    if(!valid)
      return
    set_thead()
    set_tbody()
    $('#batch_preview').show()
  }

  function set_thead(){
    $('#batch_preview .table thead').empty()
    var appendHTML = ''
    appendHTML += '<tr>'
    for(i = 0; i < field_num; i++)
    {
      appendHTML += '<td>'
      appendHTML += '<select class="form-control form-control-md field-select" style="width: inherit">'
      appendHTML += '<option value="ignore">Ignore</option>'
      appendHTML += '<optgroup label="_________">'
      appendHTML += '</optgroup>'
      for (let [key, name] of Object.entries(field_list_basic)) {
        appendHTML += `<option value="${key}">${name}</option>`
      }
      appendHTML += '</select>'
      appendHTML += '</td>'
    }
    appendHTML += '</tr>'
    $('#batch_preview .table thead').append(appendHTML)

    var selects = $('.field-select')
    for(i = 0; i < field_num; i++)
    {
      selects.eq(i).children('option').eq(i + 1).prop('selected', true)
    }
    $('#preview_btn').click(function() {
      preview()
    })
  }

  function set_tbody(){
    $('#batch_preview .table tbody').empty()
    var appendHTML = ''
    batch_list.forEach(row => {
      appendHTML += '<tr>'
      for(i = 0; i < field_num; i++) {
        appendHTML += '<td>'
        appendHTML += row[i] ? row[i] : ''
        appendHTML += '</td>'
      }
      appendHTML += '</tr>'
    })
    // console.log(appendHTML)
    $('#batch_preview .table tbody').append(appendHTML)
  }

  function post_batch(){
    var batch_name = $('#batch_name').val()
    if(batch_name == '')
    {
        showInfoToast('Please insert batch name', 'warning')
        return
    }
    var supplier_id = $('#supplier').val()
    if(!supplier_id)
    {
        showInfoToast('Please select supplier', 'warning')
        return
    }
    var percent = $('#percent').val()
    if(!percent)
    {
        showInfoToast('Please insert share percent', 'warning')
        return
    }
    var price = $('#price').val()
    if(!price)
    {
        showInfoToast('Please insert price', 'warning')
        return
    }
    if(!valid)
      return
    var field_list = []
    var selects = $('.field-select')
    for(i = 0; i < field_num; i++)
    {
      field_list.push(selects.eq(i).val())
      if(hasDuplicates(field_list.filter(element => element !== 'ignore')))
      {
        showWarningToast('You select ' + selects.eq(i).children("option").filter(":selected").text() + ' repeatedly.', "Warning")
        return
      }
    }
      
    var postData = {
      batch_list: batch_list,
      field_list: field_list,
      batch_num: batch_list.length,
      batch_name: batch_name,
      supplier_id: supplier_id,
      percent: percent,
      price: price
    }
    $.ajax({
      url: "",
      type: "POST",
      dataType: "json",
      headers: {
        "X-CSRFToken": $('meta[name="csrf-token"]').attr('content'),
      },
      data: postData,
      success: function (result) {
        var state = result["state"];
        if (state == "OK") {
          showSuccessToast('Added new batches', "Success");
          console.log(result['data'])
        } else if (state == "FAIL")
          showDangerToast(result["error"], "Failed");
        else
          showDangerToast("Cause an unknown error.", "Failed");
      },
      error: function (xhr, status, error) {
        showDangerToast(xhr.status + " " + xhr.statusText, "Failed");
      },
    });
  }

  function hasDuplicates(array) {
    return (new Set(array)).size !== array.length;
  }
</script>

{% endblock content %} {% block plugin_javascripts %}

<script src="{% static 'assets/vendors/select2/select2.min.js' %}"></script>
<script src="{% static 'assets/vendors/inputmask/jquery.inputmask.bundle.js' %}"></script>

{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="{% static 'assets/js/inputmask.js' %}"></script>

{% endblock javascripts %}
