{% extends "layouts/base.html" %} {% block title %} Search {% endblock %}
{% load static %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/vendors/select2/select2.min.css' %}" /> 

<style>
  .dropdown-toggle::after {
    float: right;
    margin-top: 0.255em;
  }
  .form-control {
    border-radius: 0.1875rem;
  }
  .form-control:disabled {
    color: rgb(77, 75, 75);
  }
  .form-check {
    margin: 0px;
  }
  .form-check .form-check-label {
    color: white;
  }
  .dropdown-header {
    padding: 0.5rem 0.7rem;
  }
  .dropdown-item:hover {
    color: white;
  }
  .form-control option {
    color: white;
  }
  .form-control option:disabled {
    color: darkgray;
  }
  .form-control:focus {
    color: white;
  }
  .form-check-group {
    min-height: 18px;
    padding-left: 1.25rem;
  }
  .form-check-group input, label {
    cursor: pointer;
  }
  .dropdown-menu {
    max-height: 290px;
    overflow-y: auto;
  }
  .Phone-header div {
    font-size: 0.8rem;
  }
  .Phone-header #records_num {
    font-size: 1rem;
  }
  .cart-icon {
    font-size: xx-large;
  }
</style>
{% endblock stylesheets %}
{% block modals %}
{% endblock modals %} {% block content %}

<div class="content-wrapper">
  <!--Header-->
  <div class="page-header">
    <h1 class="page-title">Search</h1>
  </div>
  <div class="row">
    <div class="col-lg-12 grid-margin">
      <div class="Phone">
        <div class="Phone-body">
          <div class="template-demo">
            <div class="row">
              <div class="col-lg-12">
                <div class="row mt-3">
                  <div class="dropdown col-md-4">
                    <label class="col-sm-12">Select Batches to search area code list:</label>
                    <div class="col-sm-12">
                      <button class="btn btn-primary dropdown-toggle col-sm-12 text-left" type="button" id="batch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><t id="selected_batch_num"></t></button>
                      <div class="dropdown-menu" aria-labelledby="batch" onclick="event.stopPropagation()" id="batch_selection">
                        {% if batch_list %}
                          <div class="dropdown-header search-box">
                            <input id="batch_search" type="text" class="form-control form-contrl-sm" placeholder="Search...">
                          </div>
                          <div class="dropdown-divider batch-check"></div>
                          <div class="dropdown-item batch-check">
                            <div class="form-check-group">
                              <label class="form-check-label">
                                <input type="checkbox" checked class="form-check-input" id="any_batch"> Any Batch
                              </label>
                            </div>
                          </div>
                          <div class="dropdown-divider batch-check"></div>
                          {% for each in batch_list %}
                          <div class="dropdown-item batch-list">
                            <div class="form-check-group">
                              <label class="form-check-label">
                                <input type="checkbox" checked class="form-check-input" batch_id="{{ each.id }}" batch_name="{{ each.Name }}"> {{ each.id }} / {{ each.Name }} ({{ each.product_num }})
                              </label>
                            </div>
                          </div>
                          {% endfor %}
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <div class="dropdown col-md-4">
                    <label class="col-sm-12">Areaf1 (Phone type):</label>
                    <div class="col-sm-12">
                      <button class="btn btn-secondary dropdown-toggle col-sm-12 text-left" type="button" id="areaf1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><t id="selected_areaf1_num"></t></button>
                      <div class="dropdown-menu" aria-labelledby="areaf1" onclick="event.stopPropagation()" id="areaf1_selection">
                      </div>
                    </div>
                  </div>
                  <div class="dropdown col-md-4">
                    <label class="col-sm-12">Areaf2 (Operator):</label>
                    <div class="col-sm-12">
                      <button class="btn btn-danger dropdown-toggle col-sm-12 text-left" type="button" id="areaf2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><t id="selected_areaf2_num"></t></button>
                      <div class="dropdown-menu" aria-labelledby="areaf2" onclick="event.stopPropagation()" id="areaf2_selection">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="row mt-3">
                  <div class="dropdown col-md-4">
                    <label class="col-sm-12">Areaf3 (Perpaid / Monthly Billing):</label>
                    <div class="col-sm-12">
                      <button class="btn btn-warning dropdown-toggle col-sm-12 text-left" type="button" id="areaf3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><t id="selected_areaf3_num"></t></button>
                      <div class="dropdown-menu" aria-labelledby="areaf3" onclick="event.stopPropagation()" id="areaf3_selection">
                      </div>
                    </div>
                  </div>
                  <div class="dropdown col-md-4">
                    <label class="col-sm-12">Areaf4:</label>
                    <div class="col-sm-12">
                      <button class="btn btn-success dropdown-toggle col-sm-12 text-left" type="button" id="areaf4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><t id="selected_areaf4_num"></t></button>
                      <div class="dropdown-menu" aria-labelledby="areaf4" onclick="event.stopPropagation()" id="areaf4_selection">
                      </div>
                    </div>
                  </div>
                  <div class="dropdown col-md-4">
                    <label class="col-sm-12">Areaf5:</label>
                    <div class="col-sm-12">
                      <button class="btn btn-info dropdown-toggle col-sm-12 text-left" type="button" id="areaf5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><t id="selected_areaf5_num"></t></button>
                      <div class="dropdown-menu" aria-labelledby="areaf5" onclick="event.stopPropagation()" id="areaf5_selection">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br/>
              <div class="col-lg-8">
                <div class="row mt-3">
                  <div class="dropdown col-md-6">
                    <label class="col-sm-12">User State:</label>
                    <div class="col-sm-12">
                      <button class="btn btn-dark dropdown-toggle col-sm-12 text-left" type="button" id="state" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><t id="selected_state_num"></t></button>
                      <div class="dropdown-menu" aria-labelledby="state" onclick="event.stopPropagation()" id="state_selection">
                      </div>
                    </div>
                  </div>
                  <div class="dropdown col-md-6">
                    <label class="col-sm-12">User City:</label>
                    <div class="col-sm-12">
                      <button class="btn btn-primary dropdown-toggle col-sm-12 text-left" type="button" id="city" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><t id="selected_city_num"></t></button>
                      <div class="dropdown-menu" aria-labelledby="city" onclick="event.stopPropagation()" id="city_selection">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="dropdown col-md-6">
                    <label class="col-sm-12">User Gender:</label>
                    <div class="col-sm-12">
                      <button class="btn btn-info dropdown-toggle col-sm-12 text-left" type="button" id="gender" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><t id="selected_gender_num"></t></button>
                      <div class="dropdown-menu" aria-labelledby="gender" onclick="event.stopPropagation()" id="gender_selection">
                        <h6 class="dropdown-item">
                          <div class="form-check-group">
                            <label class="form-check-label">
                              <input type="checkbox" checked class="form-check-input" id="any_gender"> All
                            </label>
                          </div>
                        </h6>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-item">
                          <div class="form-check-group">
                            <label class="form-check-label">
                              <input type="checkbox" checked class="form-check-input" gender="M"> Male
                            </label>
                          </div>
                        </div>
                        <div class="dropdown-item">
                          <div class="form-check-group">
                            <label class="form-check-label">
                              <input type="checkbox" checked class="form-check-input" gender="F"> Female
                            </label>
                          </div>
                        </div>
                        <div class="dropdown-item">
                          <div class="form-check-group">
                            <label class="form-check-label">
                              <input type="checkbox" checked class="form-check-input" gender="U"> Unknown
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row col-sm-12">
                      <label class="col-sm-6">Price Min:</label>
                      <label class="col-sm-6">Price Max:</label>
                    </div>
                    <div class="row col-sm-12">
                      <div class="col-sm-6">
                        <input class="form-control form-control-sm" data-inputmask="'alias': 'currency'" id="price_min"/>
                        <!-- <input type="number" step="0.01" class="form-control form-control-sm" placeholder="min" id="price_min"> -->
                      </div>
                      <div class="col-sm-6">
                        <input class="form-control form-control-sm" data-inputmask="'alias': 'currency'"  id="price_max"/>
                        <!-- <input type="number" step="0.01" class="form-control form-control-sm" placeholder="max" id="price_max"> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="row mt-3">
                  <div class="col-md-12">
                    <label class="col-sm-12">User Zipcode:</label>
                    <div class="col-sm-12">
                      <!-- <select class="col-sm-12 form-control" size="7" id="zip_code" name="zip_code" multiple>
                      </select> -->
                      <textarea class="col-sm-12 form-control" rows="7" id="zip_code" name="zip_code" multiple></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="row mt-3">
                  <div class="col-md-12">
                    <label class="col-sm-12">Search up to 150 area codes at once / minimum 6 digits long per row:</label>
                    <div class="col-sm-12">
                      <!-- <select class="col-sm-12 form-control" size="7" id="area_code" name="area_code" multiple>
                      </select> -->
                      <textarea class="col-sm-12 form-control" rows="8" id="area_code" name="zip_code" multiple></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="row mt-3">
                  <div class="col-md-2">
                    <div class="form-check">
                      <div class="col-sm-12">
                        <label class="form-check-label">
                          Extra1 <i class="input-helper"></i>
                          <input type="checkbox" checked class="form-check-input" id="extra1">
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-check">
                      <div class="col-sm-12">
                        <label class="form-check-label">
                          Extra2 <i class="input-helper"></i>
                          <input type="checkbox" checked class="form-check-input" id="extra2">
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-check">
                      <div class="col-sm-12">
                        <label class="form-check-label">
                          Extra3 <i class="input-helper"></i>
                          <input type="checkbox" checked class="form-check-input" id="extra3">
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-check">
                      <div class="col-sm-12">
                        <label class="form-check-label">
                          Extra4 <i class="input-helper"></i>
                          <input type="checkbox" checked class="form-check-input" id="extra4">
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-check">
                      <div class="col-sm-12">
                        <label class="form-check-label">
                          Extra5 <i class="input-helper"></i>
                          <input type="checkbox" checked class="form-check-input" id="extra5">
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">           
              <div class="col-md-4">
              </div>             
              <div class="col-md-4 col-sm-10 stretch-card">
                <div class="circle-loader"></div>
              </div>
              <div class="col-md-4 mt-5">
                <button type="button" class="btn btn-success float-right" onclick="show_result()">Show Result</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- [ Main Content ] start -->
  <div class="row" id="search_result">
    <!--[D F info] start-->
    <div class="col-sm-12 grid-margin">
      <div class="Phone">
        <div class="Phone-header">
          <div>Search Result: <b id="records_num"></b></div>
        </div>
        <div class="Phone-body">
          <div class="row">
            <div class="col-md-12 overflow-auto">
              <table class="table table-bordered table-striped">
                <thead class="text-center">
                  <tr>
                    <th>Area Code</th>
                    <th>Exp Date</th>
                    <th>
                      Areaf1<br>
                      Areaf2<br>
                      Areaf3<br>
                      Areaf4
                    </th>
                    <th>Areaf5</th>
                    <th>
                      City<br>
                      State<br>
                      Zipcode
                    </th>
                    <th>First Name</th>
                    <th>Gender</th>
                    <th>
                      Extra1<br>
                      Extra2<br>
                      Extra3<br>
                      Extra4<br>
                      Extra5
                    </th>
                    <th>
                      Batch ID<br>
                      Batch Name<br>
                      Publish Date
                    </th>
                    <th>Price</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody class="text-left">
                </tbody>
              </table>
            </div>
            <!--------------------------- Pagination-HTML --------------------------------->
            <div class="col-md-12 col-sm-6 grid-margin stretch-card" id="pagination">
              <div class="Phone">
                <div class="Phone-body">
                  <nav>
                    <ul class="pagination justify-content-end flat" id="page_button">
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <!-------------------------------------------------------------------------->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %} {% block plugin_javascripts %}

<script src="{% static 'assets/vendors/select2/select2.min.js' %}"></script>
<script src="{% static 'assets/vendors/inputmask/jquery.inputmask.bundle.js' %}"></script>

{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="{% static 'assets/js/inputmask.js' %}"></script>
<script src="{% static 'js/search.js' %}"></script>

{% endblock javascripts %}
