{% extends "layouts/base.html" %} {% block title %} Shoping Cart {% endblock %}
{% load static %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
  .cart-icon {
    font-size: xx-large;
  }
  .col-md-2-4 {
    width: 20%;
  }
  .table th {
    padding-left: 0.1rem !important;
    padding-right: 0.1rem !important;
  }
</style>
{% endblock stylesheets %}
{% block modals %}
{% endblock modals %}
{% block content %}

<div class="content-wrapper">
  <!--Header-->
  <div class="page-header">
    <h1 class="page-title">Shoping Cart</h1>
  </div>

  <!-- [ Main Content ] start -->
  <div class="row">
    <!--[D F info] start-->
    <div class="col-sm-12 grid-margin">
      <div class="Phone">
        <div class="Phone-header">
          <div class="row">
            <div>Result: <b class="count_product">{{ count_product }}</b> items</div>
          </div>
        </div>
        <div class="Phone-body">
          <div class="row">
            <div class="col-md-12 col-sm-10 stretch-card">
              <div class="circle-loader"></div>
            </div>
            <div class="col-md-3">
              <div class="row mt-3">
                <div class="form-check">
                  <div class="col-sm-12">
                    <label class="form-label">
                      Choose your checker:  
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="form-group">
                <div class="row mt-3">
                  {% for checker in checker_list %}
                  <div class="col-md-2-4 form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="checkerRadio" id="checker{{ checker.id }}" value="{{ checker.id }}" {% if checker == checker_list.first %}checked{% endif %}> {{ checker.Name }} <i class="input-helper"></i></label>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="col-md-12 overflow-auto" id="search_result">
              <table class="table table-bordered table-striped">
                <thead class="text-center">
                  <tr>
                    <th>Area Code</th>
                    <th>Exp Date</th>
                    <th>
                      Areaf1<br>
                      Areaf2<br>
                      Areaf3<br>
                      Areaf4
                    </th>
                    <th>Areaf5</th>
                    <th>
                      City<br>
                      State<br>
                      Zipcode
                    </th>
                    <th>First Name</th>
                    <th>Gender</th>
                    <th>
                      Extra1<br>
                      Extra2<br>
                      Extra3<br>
                      Extra4<br>
                      Extra5
                    </th>
                    <th>
                      Batch ID<br>
                      Batch Name<br>
                      Publish Date
                    </th>
                    <th>Price</th>
                    <th>Check</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody class="text-left">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %} {% block plugin_javascripts %}
{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="{% static 'js/shoping_cart.js' %}"></script>

{% endblock javascripts %}
